#slides{
  position: fixed;
  margin-top: 10px;
  z-index: 1;
}
body {
  margin:0px 0px;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 19.7999992370605px;
}img.header{
position:fixed;
z-index: 2;
top:0px;
left:0px;
width:100%;
height:150px;
}
img.logo{
position:absolute;
z-index: 2;
left:100px;
width:200px;
}
img.slideshow{
position:fixed;
width:100%;
height:90%}
div.content{
	width:90%;
	height: 100%;
	padding-left:20px;
	margin:0px auto;
    margin-top: 60px;
	background-color: rgba(255,255,255,0.2);
	text-align: left;
	line-height:40px;
	left:0px;
	right:0px;
}
.footer {
   color: #666666;
   position: fixed;
   z-index: 1;
   bottom: 0;
   width: 100%;
   text-align: center;
}
.footer ft {
   position: relative;
   bottom: 15px;
   color: white;
   z-index: 20;
}
img.footerblue {
   width:100%;
   height:100px;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 10;
}
.title{
top: 10px;
position:absolute;
font-size: 50px;
font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
color: #ffffff;
}
.login{
	position: fixed;
	background-color: rgba(255,255,255,0.3);
	color: #000;
	top: calc(40% - 15px);
	left: calc(70% - 50px);
	height: 200px;
	width: 280px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(160,160,160,0.8);
	border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(160,160,160,0.8);
	border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
		-moz-box-shadow: 1px 12px 26px -7px #276873;
	-webkit-box-shadow: 1px 12px 26px -7px #276873;
	box-shadow: 1px 12px 26px -7px #276873;

}

.login input[type=submit]:hover{
background: #006699;
	opacity: 0.8;
	color: #ffffff;
}

.login input[type=submit]:active{
	opacity: 0.6;
	position:relative;
	top:1px;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
	outline: none;
}

/* this is the menu */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
	position: absolute;
  z-index: 2;
  background: rgba(0,0,0,0);
  top: 30px;
  right : 10%;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #ffffff ;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #fff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #fff;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #fff;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

