*
{
    margin: 0;
    padding: 0;
}
body
{
    font-size: 18px;
    color: #6a6272;
    font-family: Calibri;
    background-image: url('images/bg-body.jpg');
}
.container
{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.header
{
    text-align: left;
    height: 100px;
    background-image: url("images/blue1.jpg");
}
.sticky-navigation
{
    padding: 3px;
    background: #ff9900;
    width: 100%;
	z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
.sticky-navigation.stuck
{
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.contents
{
    background-image: url('images/bg-body.jpg');
    padding: 0px;
}
.footer
{
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    color: #FFFFFF;
    background-image: url("images/blue1.jpg");
    box-shadow: -5px -5px 5px rgba(0, 0, 0, .3);
    text-align: center;
	position: relative;
}
.monkeyheadfooter{
    height: 20px;
    width: 20px;
}
#menu{
float: right;
    margin-right: 20px;
    margin-top: 20px;
}
/************** Show/Hide Menu Button Styles *********************************/

@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

.button{
    top: -90px;
    right: -100px;
    position: absolute;
    padding: 10px 20px;
    margin-top:100px;
	background: url(images/menu.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
}
.button i{
    float: right;
    margin-top: 2px;
}
.button:active{
    background: url(images/newMenuClick.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.menuImage{
    height: 70px;
    width: 70px;
	border: 0px;
}

/**************************************************************************************/

.buttonset {
    position: absolute;
    right: 100px;
}

/* General styles for all menus */

.cbp-spmenu {
    background: #003378;
    position: fixed;
}

.cbp-spmenu .last:hover {
    background: #FF0000;
}

.cbp-spmenu .last:active {
    background: #FF1919;
}

.cbp-spmenu h3 {
    color: #003378;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}

.cbp-spmenu a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: #fff;
	padding-left: 20px;
    font-size: 1.1em;
    font-weight: 300;
}

.cbp-spmenu a:hover {
    background: #0096d2;
}

/*.cbp-spmenu a:active {
    background-color:rgb(0,200,250);
    color: #fff;
}*/

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #003378;
    padding: 1em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}