body {
    background-size: cover;
    margin:0px;
    font-family: Calibri;
}
img.header{
     width:100%;
     height:150px;
 }
.stats{
    position: absolute;
    top: 110px;
    left: 1000px;
    background-color: #FF9900;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Calibri;
    font-size:20px;
    font-weight:bold;
    padding:9px 20px 9px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e3e;
}
.stats:hover{
    background-color:rgb(0,150,210);
}
.stats:active{
    background-color:rgb(0,200,250);
}
.courses{
   position: absolute;
   top: 250px;
   left: 400px;
   width: 220px;
}
.testEachCourse{
   background-image: url('images/bg-body.jpg');
   position: relative;
   left: 400px;
   width: 800px;
   height: 63%;
   border-spacing: 15px;
/*background-image: url('images/bg-body.jpg');
   position: relative;
   left: 400px;
   width: 800px;
   height: 63%;
   border-spacing: 15px;*/
}
#courseTable{
    width: 200px;
}
#courseTD
{
    text-align: center;
    color: white;
    background-color:#FF9900;
}
#courseTD:hover
{
    background-color: rgb(0,150,210);
    cursor:pointer;
}
#courseTD:active {
    background-color:rgb(0,200,250);
}
#testTD{
    background-color: #fff;
    width: 900px;
	padding: 10px;
}
#testTable{
    border-spacing: 15px;
	margin-left: -12px;
   /* border: 1px solid lightblue;*/
}
#testTitle{
    font-size: 30px;
    color: #003378;
    float: left;
}
#button{
   position:absolute;
   right: 10px;
}
#editButton {
    width: 40px;
    height:40px;
    display: inline-block;
    background: url(images/buttons/edit.png);
    background-size: contain;
    border: 0px;
    margin-right:20px;
}
#editButton:hover{
    background: url(images/buttons/editHover.png);
    background-size: contain;
}
/* -- tooltip doesn't work
#editButton:hover:after{
     background: #333;
     background: rgba(0,0,0,.8);
     color: #fff;
     content: attr(value);
     padding: 5px 15px;
     position: relative;
     top:-50px;
    left:-10px;
     z-index: 98;
     width: 80px;
 }*/
#deleteButton {
    width: 40px;
    height:40px;
    display: inline-block;
    background: url(images/buttons/delete.png);
    background-size: contain;
    border: 0px;
    margin-right:20px;
}

#deleteButton:hover{
    background: url(images/buttons/deleteHover.png);
    background-size: contain;
}
#gradeButton {
    width: 40px;
    height:40px;
    display: inline-block;
    background: url(images/buttons/grade.png);
    background-size: contain;
    border: 0px;
}
#gradeButton:hover{
    background: url(images/buttons/gradeHover.png);
    background-size: contain;
}
#classTitle{
   font-size: 40px;
   margin-top: 50px;
   position: relative;
   left: 400px;
   top: 15px;
   color:black;
   z-index:100;
   min-width: 700px;
}
.create-button {
    z-index: 26;
    position: absolute;
	 left: 200px;
    top: 170px;
    width: 200px;
    height: 60px;
    background-color: rgb(0,150,210);
    border-color: rgb(0,150,210);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Calibri;
    font-size:20px;
    font-weight:bold;
    padding:9px 20px 9px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e3e;
}
.create-button:hover {
    background-color:rgb(0,200,250);
}
div.content{
    width:90%;
    top: 70px;
	height: 100%;
    padding-left:20px;
    margin:0px auto;
    text-align: left;
    line-height:40px;
    left:0px;
    right:0px;
    font-family: Calibri;
}
.loader {
   background-image: url('images/bg-body.jpg');
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background: url('images/monkeyload.gif') 50% 50% no-repeat;
}
#form_table{
   position: relative;
}
/********************************************************/

@media screen and (max-width: 1800px) {
	.courses{
		position: absolute;
		left: 200px;
		width: 220px;
	}
   .create-button {
      left: 200px;
   }
   .testEachCourse, #classTitle {
      left: 400px;
   }
   .stats {
      top: 110px;
      left: 1150px;
   }
}
@media screen and (max-width: 1400px) {
	.courses{
		position: absolute;
		left: 30px;
		width: 220px;
	}
   .create-button {
      left: 30px;
   }
   .testEachCourse, #classTitle {
      left: 250px;
   }
   .stats {
      top: 110px;
      left: 1000px;
   }
}
@media screen and (max-width: 1100px) {
	.courses, .create-button{
		position: static;
	}
   .testEachCourse, #classTitle {
      left: 30px;
   }
	#testTD{
		width: 600px;
	}
   .stats {
      top: 390px;
      left: 600px;
   }
}
