/* Tab Content - menucool.com */
ul.tabs
{
    padding: 6px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
}

ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:4px; /*distance between tabs*/
}

ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 6px 14px;
    border: 1px solid #B7B7B7;
    color: #000;
    background: #F7F7F7 url(tabbg2.gif) repeat-x 0 0;
    border-radius: 3px 3px 0 0;
    outline:none;
}

ul.tabs li a:visited
{
    color: #000;
}

ul.tabs li a:hover
{
    background:White url(tabbg.gif) repeat-x 0 0;
}

ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white url(tabbg.gif) 0 0 repeat-x;
    border-bottom-color: white;
}


ul.tabs li.selected a:hover
{
    text-decoration: none;
}


div.tabcontents
{
    border-top: 1px solid #B7B7B7; padding:30px 16px;
    text-align: center;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;}

body {
background-image: #FFF;
  background-size: cover;
  margin:0px 0px;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}img.header{
width:100%;
height:150px;
}

img.testLogo{
width: 200px;
position:fixed;
top:0px;
left: 50px;
z-index:100;
}

.logout-button {
z-index: 26;
position: fixed;
top: 10px;
right: 100px;
width: 200px;
	-moz-box-shadow: 0px 10px 14px -7px #691632;
	-webkit-box-shadow: 0px 10px 14px -7px #691632;
	box-shadow: 0px 10px 14px -7px #691632;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b35959), color-stop(1, #570707));
	background:-moz-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-webkit-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-o-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-ms-linear-gradient(top, #b35959 5%, #570707 100%);
	background:linear-gradient(to bottom, #b35959 5%, #570707 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b35959', endColorstr='#570707',GradientType=0);
	background-color:#b35959;
	border : 0px solid;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3e3e;
}
.logout-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #570707), color-stop(1, #b35959));
	background:-moz-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-webkit-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-o-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-ms-linear-gradient(top, #570707 5%, #b35959 100%);
	background:linear-gradient(to bottom, #570707 5%, #b35959 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#570707', endColorstr='#b35959',GradientType=0);
	background-color:#570707;
}
.logout-button:active {
	position:relative;
	top:1px;
}

img.footerblue{
width:100%;
height:100px;}

div.content{
	width:90%;
	height: 100%;
	padding-left:20px;
	margin:0px auto;
	background-color: rgba(255,255,255,0.2);
	text-align: left;
	line-height:40px;
	left:0px;
	right:0px;
}
.footer{
color: #666666;
position:fixed;
bottom: 0px;
width:100%;
text-align:center;
z-index: 10;

}
.title{
top: 30px;
position: absolute;
left: 250px;
font-size: 50px;
font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
color: #ffffff;
}

.questionType-button {
    margin-bottom: 30px;
    text-align: center;
}
.questionType-button input {
width: 150px;
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 15px 30px;
    color: #fff;
    background-color: #67b5d1;
}
.questionType-button input:hover{
background-color: #3184a1;
}
#instruction:hover{
}
.questionType-button input.active {
    background-color: #3184a1;
}
.questionType-button input:focus {
    outline: none;
}