/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    text-align: center;
	display: inline-block;
	float: none;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

body {
background-image: #FFF;
  background-size: cover;
  margin:0px 0px;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 19.7999992370605px;
}img.header{
width:100%;
height:150px;
}

img.testLogo{
width: 200px;
position:fixed;
top:0px;
left: 50px;
z-index:100;
}

.logout-button {
z-index: 26;
position: fixed;
top: 10px;
right: 100px;
width: 200px;
	-moz-box-shadow: 0px 10px 14px -7px #691632;
	-webkit-box-shadow: 0px 10px 14px -7px #691632;
	box-shadow: 0px 10px 14px -7px #691632;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b35959), color-stop(1, #570707));
	background:-moz-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-webkit-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-o-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-ms-linear-gradient(top, #b35959 5%, #570707 100%);
	background:linear-gradient(to bottom, #b35959 5%, #570707 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b35959', endColorstr='#570707',GradientType=0);
	background-color:#b35959;
	border : 0px solid;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3e3e;
}
.logout-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #570707), color-stop(1, #b35959));
	background:-moz-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-webkit-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-o-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-ms-linear-gradient(top, #570707 5%, #b35959 100%);
	background:linear-gradient(to bottom, #570707 5%, #b35959 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#570707', endColorstr='#b35959',GradientType=0);
	background-color:#570707;
}
.logout-button:active {
	position:relative;
	top:1px;
}

img.footerblue{
width:100%;
height:100px;}

div.content{
	width:90%;
	height: 100%;
	padding-left:20px;
	margin:0px auto;
	background-color: rgba(255,255,255,0.2);
	text-align: left;
	line-height:40px;
	left:0px;
	right:0px;
}
.footer{
color: #666666;
position:fixed;
bottom: 0px;
width:100%;
text-align:center;
z-index: 10;

}
.title{
top: 30px;
position: absolute;
left: 250px;
font-size: 50px;
font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
color: #ffffff;
}

.questionType-button {
    margin-bottom: 30px;
    text-align: center;
}
.questionType-button input {
width: 150px;
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 15px 30px;
    color: #fff;
    background-color: #67b5d1;
}
.questionType-button input:hover{
background-color: #3184a1;
}
#instruction:hover{
}
.questionType-button input.active {
    background-color: #3184a1;
}
.questionType-button input:focus {
    outline: none;
}