

.testQuestions{
    position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
    left: 400px;
    width: 900px;
   border-spacing: 15px;
   border: 1px solid lightblue;
   
}
.essayText{
	width: 700px;
	height: 100px;
}
#theQuestion{
	padding-left:0px;
}
#button{
    float: right;
}


#testInformation{
position: fixed;
top: 300px;
border: 1px solid lightblue;
}
.informationTable td{
width: 120px;
}
.submit-button {
    z-index: 26;
    position: fixed;
    top: 210px;
    width: 200px;
    height: 60px;
    background-color: rgb(0,150,210);
    border : 3px solid lightsteelblue;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:9px 20px 9px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e3e;
}
.submit-button:hover {
    background-color:rgb(0,200,250);
}

.logout-button {
    z-index: 26;
    position: fixed;
    right: 50px;
    top: 10px;
    width: 150px;
    box-shadow: 0px 10px 14px -7px #691632;
    background-color: rgb(187,0,0);
    border : 2px solid;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:9px 20px 9px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e3e;
}
.logout-button:hover {
    background-color:rgb(255,40,40);
}


div.content{
	color: #000;
    width:90%;
    top: 70px;
    height: auto;
    padding-left:20px;
	font-family:arial;
    margin:0px auto;
    text-align: left;
    line-height:40px;
    left:0px;
    right:0px;
}


.loader {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background: url('./images/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

