
#wrapper{
   width : 100%;
   height: auto;
   position:absolute;
   top: 100px;
   z-index:30;
   background-image: url('images/bg-body.jpg');
}
#test_info {
   position: absolute;
   top: 10px;
   left: 400px;
   min-width: 850px;
}
#test_info td{
   text-align: center;
   border: 1px solid lightblue;
}
#f_t_name {
   min-width: 200px;
   max-width: 200px;
}
#f_s_name {
   min-width: 300px;
   max-width: 300px;
}
#f_percent {
   min-width: 60px;
   max-width: 60px;
}
#studentTable{
  width: 200px;
}
#studentTD
{
  text-align: left;
  padding-left: 10px;
  color: white;
  background-color:#FF9900 ;
}
#studentTD:hover
{
  background-color: #3399FF;
  cursor:pointer;
}

.testQuestions{
    position: relative;
	padding-top: 100px;
    left: 300px;
    width: 900px;
/*    overflow-y: scroll;*/
   border-spacing: 15px;
   z-index:50;
}
.essayText{
	width: 95%;
	height: 100px;
}
.points{
	width: 30px;
	height: 30px;
	font-size:20px;
}
.pointBox{
	width:100px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30px;
	border:1px solid #66CCFF;
}
#theQuestion{
	padding-left:0px;
}
#button{
    float: right;
}

#classTitle{
    font-size: 40px;
    position: fixed;
    top: 120px;
    left: 400px;
    color:black;
    z-index:100;
}
#studentList{
position: fixed;
top: 200px;
}
#studentInformation{
position: fixed;
height:auto;
top: 240px;
overflow-y:scroll;
   z-index:30;
}
.submit-button {
    z-index: 26;
    position: fixed;
    top: 210px;
    width: 200px;
    height: 60px;
    background-color: rgb(0,150,210);
    border : 3px solid lightsteelblue;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:9px 20px 9px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e3e;
}
.submit-button:hover {
    background-color:rgb(0,200,250);
}

.logout-button {
    z-index:60;
    position: fixed;
    right: 50px;
    top: 10px;
    width: 150px;
    box-shadow: 0px 10px 14px -7px #691632;
    background-color: rgb(187,0,0);
    border : 2px solid;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:9px 20px 9px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e3e;
}
.logout-button:hover {
    background-color:rgb(255,40,40);
}


div.content{
    width:90%;
    top: 10px;
    padding-left:20px;
    margin:0px auto;
   margin-bottom: 50px;
    text-align: left;
    line-height:40px;
    left:0px;
    right:0px;
    font-family: Rockwell;
}
.title{
    top: 30px;
    position: absolute;
    left: 250px;
    font-size: 50px;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    color: #ffffff;
}
.loader {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 500px;
   z-index: 9999;
   background: url('./images/monkeyload.gif') 50% 50% no-repeat;
}
.table_border_style table{
	border:1px solid #66CCFF;
}