
body {
background-image: #FFD;
  background-size: cover;
  margin:0px 50px;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 19.7999992370605px;
}
img.header{
width:100%;
height:150px;
}
img.footerblue{

width:100%;
height:100px;}
 .inputs {
    height: 30px;
    border: 3px solid #EBE6E2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.inputs:focus {
    border-color: #BBB;
    outline: none;
}
.informationForm table{
margin-top:0px;
}
.informationForm tr{
	
}
.informationForm td{
	padding-top : 10px;
}

.questionTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:98%;
	height:100%;
	margin-top:10px;
}.questionTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.questionTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.questionTable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.questionTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.questionTable tr:hover td{
	
}
.questionTable tr:nth-child(odd){ background-color:#aad4ff; }
.questionTable tr:nth-child(even)    { background-color:#d4e7f9; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#302828;
}.questionTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.questionTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.questionTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.questionTable tr:first-child td{
		background:-o-linear-gradient(bottom, #0057af 5%, #2f94f9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #2f94f9) );
	background:-moz-linear-gradient( center top, #0057af 5%, #2f94f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#2f94f9");	background: -o-linear-gradient(top,#0057af,2f94f9);

	background-color:#0057af;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Verdana;
	font-weight:bold;
	color:#e8e5e5;
}
.questionTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0057af 5%, #2f94f9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #2f94f9) );
	background:-moz-linear-gradient( center top, #0057af 5%, #2f94f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#2f94f9");	background: -o-linear-gradient(top,#0057af,2f94f9);

	background-color:#0057af;
}
.questionTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.questionTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
}
.header{
	height: 80px;
	width: 100%;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 24px;
	background: #93cede; /* Old browsers */
top: 0px;
left:0px;
position: absolute;
}
div.content{
	width:90%;
	height:100%;
	padding-left:20px;
	margin:0px auto;
	background-color: rgba(255,255,255,0.2);
	text-align: left;
	line-height:40px;
	left:0px;
	right:0px;
}
div.inner_content{
width:97%;
height:800px;
background-color: #ffffff;
}
.footer{
color: #ffffff;
position: relative;
bottom:10px;
height: 50px;
width:100%;
text-align:center;

}
.title{
top: 10px;
position:absolute;
font-size: 50px;
font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
color: #ffffff;
}

.logout-button {
width: 200px;
	-moz-box-shadow: 0px 10px 14px -7px #691632;
	-webkit-box-shadow: 0px 10px 14px -7px #691632;
	box-shadow: 0px 10px 14px -7px #691632;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b35959), color-stop(1, #570707));
	background:-moz-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-webkit-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-o-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-ms-linear-gradient(top, #b35959 5%, #570707 100%);
	background:linear-gradient(to bottom, #b35959 5%, #570707 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b35959', endColorstr='#570707',GradientType=0);
	background-color:#b35959;
	border : 0px solid;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3e3e;
}
.logout-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #570707), color-stop(1, #b35959));
	background:-moz-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-webkit-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-o-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-ms-linear-gradient(top, #570707 5%, #b35959 100%);
	background:linear-gradient(to bottom, #570707 5%, #b35959 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#570707', endColorstr='#b35959',GradientType=0);
	background-color:#570707;
}
.logout-button:active {
	position:relative;
	top:1px;
}

.publish-Button {
width: 200px;
	-moz-box-shadow: 0px 10px 14px -7px #fff6af;
	-webkit-box-shadow: 0px 10px 14px -7px #fff6af;
	box-shadow: 0px 10px 14px -7px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border : 0px solid;
	display:inline-block;
	cursor:pointer;
	color:#fff5ff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.publish-Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.publish-Button:active {
	position:relative;
	top:1px;
}

.save-Button {
width: 200px;
	-moz-box-shadow: 0px 10px 14px -7px #162b69;
	-webkit-box-shadow: 0px 10px 14px -7px #162b69;
	box-shadow: 0px 10px 14px -7px #162b69;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6f8cbd), color-stop(1, #1b66a8));
	background:-moz-linear-gradient(top, #6f8cbd 5%, #1b66a8 100%);
	background:-webkit-linear-gradient(top, #6f8cbd 5%, #1b66a8 100%);
	background:-o-linear-gradient(top, #6f8cbd 5%, #1b66a8 100%);
	background:-ms-linear-gradient(top, #6f8cbd 5%, #1b66a8 100%);
	background:linear-gradient(to bottom, #6f8cbd 5%, #1b66a8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f8cbd', endColorstr='#1b66a8',GradientType=0);
	background-color:#6f8cbd;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border: 0px solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #433e8a;
}
.save-Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1b66a8), color-stop(1, #6f8cbd));
	background:-moz-linear-gradient(top, #1b66a8 5%, #6f8cbd 100%);
	background:-webkit-linear-gradient(top, #1b66a8 5%, #6f8cbd 100%);
	background:-o-linear-gradient(top, #1b66a8 5%, #6f8cbd 100%);
	background:-ms-linear-gradient(top, #1b66a8 5%, #6f8cbd 100%);
	background:linear-gradient(to bottom, #1b66a8 5%, #6f8cbd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b66a8', endColorstr='#6f8cbd',GradientType=0);
	background-color:#1b66a8;
}
.save-Button:active {
	position:relative;
	top:1px;
}

.cancel-Button {
width: 200px;
	-moz-box-shadow: 0px 10px 14px -7px #f5978e;
	-webkit-box-shadow: 0px 10px 14px -7px #f5978e;
	box-shadow: 0px 10px 14px -7px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border : 0px solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.cancel-Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.cancel-Button:active {
	position:relative;
	top:1px;
}


.preview-Button {
	-moz-box-shadow: 0px 10px 14px -7px #9acc85;
	-webkit-box-shadow: 0px 10px 14px -7px #9acc85;
	box-shadow: 0px 10px 14px -7px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
	border: 0px solid;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:21px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #92b879;
}
.preview-Button :hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.preview-Button :active {
	position:relative;
	top:1px;
}
