body {
   background-image: #FFF;
   background-size: cover;
   margin:0px 0px;
   font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
   font-size: 18px;
   font-style: normal;
   font-variant: normal;
   font-weight: 500;
}
div.scroll{
}

img.testLogo{
   width: 200px;
   position:fixed;
   top:0px;
   left: 50px;
   z-index:100;
}
img.header{
   position: fixed;
   width:100%;
   height:150px;
   z-index: 20;
}

.inputs {
   height: 30px;
   border: 3px solid #EBE6E2;
   border-radius: 5px;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

.inputs:focus {
    border-color: #BBB;
    outline: none;
}
.informationForm table{
margin-top:0px;
width: 98%;
}
.informationForm tr{
	
}
.informationForm td{
	padding-top : 10px;
}

.questionTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:98%;
	height:100%;
	margin-top:10px;
}.questionTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.questionTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.questionTable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.questionTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.questionTable tr:hover td{
	
}
.questionTable tr:nth-child(odd){ background-color:#aad4ff; }
.questionTable tr:nth-child(even)    { background-color:#d4e7f9; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#302828;
}.questionTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.questionTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.questionTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.questionTable tr:first-child td{
		background:-o-linear-gradient(bottom, #0057af 5%, #2f94f9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #2f94f9) );
	background:-moz-linear-gradient( center top, #0057af 5%, #2f94f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#2f94f9");	background: -o-linear-gradient(top,#0057af,2f94f9);

	background-color:#0057af;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Verdana;
	font-weight:bold;
	color:#e8e5e5;
}
.questionTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0057af 5%, #2f94f9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #2f94f9) );
	background:-moz-linear-gradient( center top, #0057af 5%, #2f94f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#2f94f9");	background: -o-linear-gradient(top,#0057af,2f94f9);

	background-color:#0057af;
}
.questionTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.questionTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.header{
   height: 80px;
   width: 100%;
   font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
   font-size: 24px;
   background: #93cede; /* Old browsers */
   top: 0px;
   left:0px;
   position: absolute;
}
div.content{
width:100%;
	height:100%;
	position: absolute;
	text-align: left;
	line-height:40px;
	left:0px;
	right:0px;
}
.mainTable{
}

#footer{
   position: relative;
   color: #666;
   text-align: center;
   z-index:10;
}
img.footerblue{
   position: absolute;
   left:0px;
   width: 100%;
   height:100px;
   z-index: 5;
}
.title{
   top: 10px;
   position:fixed;
   font-size: 50px;
   font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
   color: #ffffff;
   z-index: 25;
}
.questionType-button {
    margin-bottom: 30px;
    text-align: center;
}
.questionType-button input {
   width: 150px;
   display: inline-block;
   margin: 0 0 4px 0;
   padding: 15px 30px;
   color: #fff;
   background-color: #67b5d1;
}
.questionType-button input:hover{
background-color: #3184a1;
}
#instruction:hover{
}
.questionType-button input.active {
    background-color: #3184a1;
}
.questionType-button input:focus {
    outline: none;
}


.logout-button {
z-index: 26;
position: fixed;
top: 10px;
width: 200px;
	-moz-box-shadow: 0px 10px 14px -7px #691632;
	-webkit-box-shadow: 0px 10px 14px -7px #691632;
	box-shadow: 0px 10px 14px -7px #691632;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b35959), color-stop(1, #570707));
	background:-moz-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-webkit-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-o-linear-gradient(top, #b35959 5%, #570707 100%);
	background:-ms-linear-gradient(top, #b35959 5%, #570707 100%);
	background:linear-gradient(to bottom, #b35959 5%, #570707 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b35959', endColorstr='#570707',GradientType=0);
	background-color:#b35959;
	border : 0px solid;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3e3e;
}
.logout-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #570707), color-stop(1, #b35959));
	background:-moz-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-webkit-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-o-linear-gradient(top, #570707 5%, #b35959 100%);
	background:-ms-linear-gradient(top, #570707 5%, #b35959 100%);
	background:linear-gradient(to bottom, #570707 5%, #b35959 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#570707', endColorstr='#b35959',GradientType=0);
	background-color:#570707;
}
/* Not Working
.logout-button:active {
	position:relative;
	top:1px;
}
*/
.buttons {
	width: 200px;
  font-family: verdana;
  font-size: 14px;
  padding: 10px 22px;
  border: 4px solid rgba(173,173,173,0.5);
  background-color: rgba(255,255,255,0.5);
}
.buttons:hover {
  background-color: rgba(47,165,236,0.9);
  border: 4px solid rgba(255,255,255,0.5);
  color: #fff;
}

/* By YoungChan Youn */
#wrap {
	position: relative;
	padding-top: 100px;
	min-width: 1000px;
}

#middle {
	vertical-align: top;
	min-width: 650px;
	max-width: 650px;
	position: relative;
    left: 55%;
}

#left {
	vertical-align: top;
	min-width: 350px;
    padding-top: 70px;
    position: fixed;
	left: 5em;
}

#destroy_question {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 20;
}

/*
   #sortable1      -> Question Form Type
   #sortable2      -> Question Making Area
   #sortable4      -> Question Destroy Area
   #field_question -> #sortable2 <div></div>
   li              -> Elements of #sortable#
*/

#form_question {
    padding-top: 20px;
    padding-left: 10px;
}

#sortable1 {
   border: 5px solid #eee;
   width: 250px;               /* Change */
   list-style-type: none;
   padding: 5px 0 0 0;
   float: left;
   font-size:12px;
   font-family:Arial;
   font-weight:normal;
}
#sortable1 li {
   margin: 0px 0px 5px 5px; /*  TOP RIGHT DOWN LEFT  */
   font-size: 1.2em;
   width: 94%;
   height: 30px;
}

#field_question {
   /*overflow:scroll;*/
   /*height: 800px;*/
   /*border: 5px solid #eee;*/
}

#sortable2 {
   border: 1px solid #eee;
   width: 98%;
   list-style-type: none;
   margin: 0;
   padding: 5px 0 0 0;
   float: left;
   margin-right: 0px;
   min-height: 300px;
   background-image: url("./images/q_background.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
}

#sortable2 li {
   margin: 0 0px 10px 0px;
   padding: 5px;
   font-size: 1.2em;
   width: 98%;
}

#sortable4 {
   border: 5px solid #eee;
   width: 200px;
   height: 160px;
   list-style-type: none;
   margin: 0;
   padding: 5px 0 0 0;
   float: left;
   background-image: url("./images/recycle_close.jpeg");
}
#sortable4 li {
   margin: 0 5px 5px 5px;
   padding: 5px;
   font-size: 1.2em;
}

/* TextArea Color Change When on Focus */
textarea {
   width: 97%;
   border: 1px solid #cccccc;
   padding: 5px;
   margin: 0px;
   font-family: Tahoma, sans-serif;
   resize: none;
}

input[type=text]:focus, textarea:focus {
   background-color: #FFBFFF;
   border: 3px solid #ccc;
}

.q_tf_op {
    padding-left: 100px;
}

.q_options {
    width: 100%;
	border: 0;
    padding-left: 15%;
}

.bin_button {
	width: 2.2em;
	height: 2.2em;
	padding: 0;
	margin: 0;
	border: 0;
	border-style: none;
	background-color: red;
	float: right;
}