#logo img{
   border-style: none;
}
body{
	background-size: cover;
    margin:0px;
	font-family: Calibri;
}
.stats{
    position: absolute;
    top: 110px;
	left: 350px;
    /*background-color: #FF9900;*/
   background-color: rgb(0,150,210);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Calibri;
    font-size:20px;
    font-weight:bold;
    padding:9px 20px 9px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e3e;
   margin-top:15px;
   margin-bottom: 10px;
   width: 160px;
   height: 28px;
   text-align:center;
   vertical-align: middle;
}
.stats:hover{
    background-color:rgb(0,150,210);
}
.stats:active{
    background-color:rgb(0,200,250);
}
.courses{
    position: absolute;
    top: 180px;
	left: 350px;
    width: 220px;
}
.testEachCourse{
   background-image: url('images/bg-body.jpg');
   position: relative;
   left: 400px;
   width: 800px;
   height: 63%;
   border-spacing: 15px;
}
#courseTable{
    width: 200px;
}
#courseTD
{
    text-align: center;
    color: white;
    background-color:#FF9900;
}
#courseTD:hover
{
    background-color: rgb(0,150,210);
    cursor:pointer;
}
#courseTD:active {
    background-color:rgb(0,200,250);
}
#testTD{
    background-color: #fff;
    width: 900px;
	padding: 10px;
}
#testTable{
    border-spacing: 15px;
	margin-left: -12px;
   /* border: 1px solid lightblue;*/
}
#testTitle{
    font-size: 30px;
    color: #003378;
    float: left;
}
#button{
    float: right;
}
#takeTestButton {
    width: 120px;
    height:50px;
    display: inline-block;
    background: url(images/buttons/taketest.png);
	background-repeat: no-repeat;
	background-size: cover;
    border: 0px;
    margin-right:20px;
    color: rgba(0,0,0,0);
}
#takeTestButton:hover{
    background: url(images/buttons/taketest.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#takeTestButton:hover:after{
     background: #333;
     background: rgba(0,0,0,.8);
     color: #fff;
     content: attr(value);
     padding: 5px 15px;
     position: relative;
     top:40px;
    left:-10px;
     z-index: 98;
     width: 80px;
 }
#deleteButton {
    width: 40px;
    height:40px;
    display: inline-block;
    background: url(images/buttons/delete.png);
    background-size: contain;
    border: 0px;
    margin-right:20px;
}

#deleteButton:hover{
    background: url(images/buttons/deleteHover.png);
    background-size: contain;
}
#deleteButton:hover:after{
     background: #333;
     background: rgba(0,0,0,.8);
     color: #fff;
     content: attr(value);
     padding: 5px 15px;
     position: relative;
     top:40px;
    left:-10px;
     z-index: 98;
     width: 80px;
 }
#gradeButton {
    width: 40px;
    height:40px;
    display: inline-block;
    background: url(images/buttons/grade.png);
    background-size: contain;
    border: 0px;
	margin-right:20px;
}
#gradeButton:hover{
    background: url(images/buttons/gradeHover.png);
    background-size: contain;
}
#gradeButton:hover:after{
     background: #333;
     background: rgba(0,0,0,.8);
     color: #fff;
     content: attr(value);
     padding: 5px 15px;
     position: relative;
     top:40px;
    left:-10px;
     z-index: 98;
     width: 80px;
 }
#classTitle{
    font-size: 40px;
	margin-top: 50px;
    position: relative;
    left: 400px;
	top: 15px;
    color:black;
    z-index:100;
}

div.content{
    width:90%;
    top: 70px;
    height: 100%;
    padding-left:20px;
    margin:0px auto;
    text-align: left;
    line-height:40px;
    left:0px;
    right:0px;
    font-family: Calibri;
}
.loader {
   background-image: url('images/bg-body.jpg');
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background: url('images/monkeyload.gif') 50% 50% no-repeat;
}

#form_table {
	position: relative;
}

/********************************************************/

@media screen and (max-width: 1770px) {
   .courses{
      position: absolute;
      left: 300px;
      width: 220px;
   }
   .testEachCourse, #classTitle {
      left: 450px;
   }
   .stats {
      left: 300px;
   }
}
@media screen and (max-width: 1600px) {
   .courses{
      position: absolute;
      left: 250px;
      width: 220px;
   }
   .testEachCourse, #classTitle {
      left: 250px;
   }
   .stats {
      left: 250px;
   }
}
@media screen and (max-width: 1550px) {
   .courses{
      position:absolute;
      left: 200px;
   }
   .stats {
      left: 200px;
   }
}
@media screen and (max-width: 1500px) {
   .courses{
      position:absolute;
      left: 150px;
   }
   .stats {
      left: 150px;
   }
}
@media screen and (max-width: 1450px) {
   .courses{
      left: 100px;
   }
   .stats {
      left: 100px;
   }
}
@media screen and (max-width: 1400px) {
   .courses{
      left: 50px;
      position: absolute;
      top: 180px;
   }
   .stats {
      left: 50px;
   }
}
@media screen and (max-width: 1200px) {
   .courses {
      position: static;
   }
   .testEachCourse, #classTitle {
	  position: static;
   }
   
   .stats {
      left: 50px;
   }
}